[Unit]
Description=save snapshot to database

[Timer]
OnCalendar=*-*-* 07:20:00
Persistent=True
Unit=daily_snapshot.service

[Install]
WantedBy=timers.target
