[Unit]
Description=Get headlines from BBC News

[Timer]
OnCalendar=*:0/15
Persistent=True
Unit=get_headlines.service

[Install]
WantedBy=timers.target
