[Unit]
Description=Gets headlines from BBC News

[Service]
Type=simple
WorkingDirectory=/var/www/html/headline_words
Environment="PATH=/home/walljames/Python/VirtualEnvs/flask/bin"
ExecStart=/home/walljames/Python/VirtualEnvs/flask/bin/python3 bbc_headlines.py 
ExecStartPost=/usr/bin/touch /var/www/html/headline_words/reload_me.txt
