[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=walljames
Group=www-data
WorkingDirectory=/var/www/html/headline_words
Environment="PATH=/home/walljames/Python/VirtualEnvs/flask/bin"
ExecStart=/home/walljames/Python/VirtualEnvs/bin/uwsgi --ini headline_words.ini

[Install]
WantedBy=multi-user.target
