[Unit]
Description=uWSGI instance to serve headline_words
After=network.target

[Service]
User=walljames
Group=www-data
WorkingDirectory=/var/www/headlinewords.top/html
Environment="PATH=/home/walljames/Python/VirtualEnvs/flask/bin"
ExecStart=/home/walljames/Python/VirtualEnvs/flask/bin/uwsgi --ini headline_words.ini

[Install]
WantedBy=multi-user.target
