
server {
        listen 80;
        listen [::]:80;
        
        root /var/www/headlinewords.top/html;
        server_name headlinewords.top www.headlinewords.top;
        
        return 301 https://$server_name$request_uri;
}


server {
    listen 443 ssl;

    root /var/www/headlinewords.top/html;
    server_name headlinewords.top www.headlinewords.top;

    include snippets/ssl-params.conf;
    include snippets/ssl-headline_words.conf;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:///var/www/headlinewords.top/html/headline_words.sock;
    }
}
