body {
        font-family: sans-serif;
}

html {
        background: #e6e6e6;
        color: #777D80;
        font-weight: bold;
}

h1 {
        text-align: center;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
        padding: 0.25em;
}

a:link, a:visited {
        background-color: #D2D5D6;
        color: #515557;
        padding: 1.5em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 3em;
}

a.current {
        background-color: #fff;
}

a:hover, a:active {
        background-color: #fff;
}

#navigation {
        margin-left: auto;
        margin-right: auto;
}

.right {
        float: right;
}

#data_table {
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3em;
}

.rounded_card {
        border-radius:8px;
	    -webkit-border-radius:8px;
	    -moz-border-radius:8px
	    box-shadow:0 2px 5px rgba(0,0,0,0.2);
        -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.2);
	    -moz-box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

div.line {
        width: 100%;
        background: #fff;
        clear: both;
        overflow: auto;
        padding 0.25em;
        margin-bottom: 0.50em;
        border-radius:8px;
}

div.left {
        float: left;
        clear: both;
        width: 55%;
        padding: 0.50em;
}

div.right {
        float: right;
        width: 25%;
        text-align: right;
        padding: 0.50em;
        background: #645FC2;
        color: #fff;
}


/* For mobile - ASSUME mobile */
h1 { font-size: 9vw; width: 65%; }
div.left, div.right { font-size: 4em; }
#data_table { width: 75% }
#navigation { width: 95%; font-size: 3vw; }


/* Modify for desktop: */
@media only screen and (min-device-width: 961px) {
        h1 { font-size: 5vw; width: 40% }
        div.left, div.right { font-size: 2em; }
        #data_table { width: 45%; }
        #navigation { width: 65%; font-size: 2vw; }
}

/* Modify for HiDPI */
@media
    only screen and (-webkit-min-device-pixel-ratio: 1.3),
	only screen and (-o-min-device-pixel-ratio: 13/10),
	only screen and (min-resolution: 120dpi)
	{

            /* Better font rendering */
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
}
