{% from "macros.html" import nav_link with context %}
<!doctype html>
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - Headline Words</title>
  <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
  {% endblock %}
</head>
<body>
  <div id="navigation">
    {{ nav_link("display_words", "Now") }} 
    {{ nav_link("show_week_words", "Week") }} 
    {{ nav_link("show_month_words", "Month") }} 
    {{ nav_link("show_all_time_words", "Ever") }} 
    {{ nav_link("show_all_words", "All") }} 
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
