<!-- Extended by: source.html, top_many.html -->
{% from "macros.html" import nav_link with context %}
{% from "more_macros.html" import more_nav_link with context %}
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - Headline Words</title>
  <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
  <!--<link rel=stylesheet href="{{ url_for('static', filename='styles/slideout.css') }}">-->
  {% endblock %}
</head>
<body>
  <nav>
    {{ nav_link("home", "Home") }}
    <a id="scroll-button" class="navlink rounded_card" href="#graph-target">Charts</a>
    <a id="more-scroll" class="navlink rounded_card" href="#more-target">More</a>
  </nav>
 
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div class="more-box flex-container">
    <h1 id="more-target" class="section-title">More</h1>
    {{ more_nav_link("by_country.country_day", "By Country")  }}
    {{ more_nav_link("uk.uk_today", "UK Totals")  }}
    {{ more_nav_link("us.us_today", "USA Totals")  }}
    {{ more_nav_link("au.au_today", "Australia Totals")  }}
  </div>
  <script src={{ url_for('static', filename='scripts/pageScroll.js') }}></script>
</body>
