{% from "macros.html" import nav_link with context %}
{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <nav>
    {{ nav_link("home", "Home") }} 
    {{ nav_link("nyt_today", "NYT") }} 
  </nav>
  <div class="container">
    <div class="left">
      <h1 class="title rounded_card">BBC News</h1>
    </div>
    <div class="right">
      <nav>
        {{ nav_link("bbc_today", "Today") }} 
        {{ nav_link("bbc_week", "Week") }} 
        {{ nav_link("bbc_month", "Month") }} 
        {{ nav_link("bbc_ever", "Ever") }} 
     </nav>
    </div>
  </div>
  <div class="container">
    <div class="left">
      {% include "bbc_data.html" %}
    </div>
    <div class="right">
    </div>
  </div>
{% endblock %}
