{% from "macros.html" import nav_link with context %}
{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<body>
  <h1 class="subtitle">{{page_title}}</h1>
  <nav>
    {{ nav_link("by_country.country_day", "Today") }}
    {{ nav_link("by_country.country_week", "Week") }}
    {{ nav_link("by_country.country_month", "Month") }}
    {{ nav_link("by_country.country_ever", "Ever") }}
  </nav>
  <div class="flex-container">
    {% include "source_block.html" %}
  </div>
  {% include "new_graph.html" %}
</body>
{% endblock %}
