{% block content %}
  <div class="graph-box">
    <div class="container">
      <h3 class="subtitle graph-box-title">Charts</h3>
      <div class="left">
        <div id="graph-target"></div>
        <h3 class="subtitle graph-box-subtitle">BBC</h3>
        <h4 class="img-title">We never used to talk about Manchester</h4>
        <img src={{ url_for('static', filename='images/plots/manchester.png') }} />
      </div>
      <div class="right">
        <h3 class="subtitle graph-box-subtitle">NYT</h3>
        <h4 class="img-title">All Trump, all the time</h4>
        <img src={{ url_for('static', filename='images/plots/trump.png') }} />
      </div>
    </div>
  </div>
{% endblock %}
