{% block content %}
    <div class="graph-box container ">
      <h3 class="subtitle graph-box-title">{{main_graph_title}}</h3>
      <div class="left">
        <div id="graph-target"></div>
        <h3 class="graph-box-subtitle">{{subtitle_1}}</h3>
        <h4 class="img-title">{{title_1}}</h4>
        <img src={{ url_for('static', filename=graph_1) }} />
      </div>
      <div class="right">
        <h3 class="graph-box-subtitle">{{subtitle_2}}</h3>
        <h4 class="img-title">{{title_2}}</h4>
        <img src={{ url_for('static', filename=graph_2) }} />
      </div>
    </div>
{% endblock %}
