<!-- Homepage -->
{% from "macros.html" import nav_link with context %}
<!doctype html>
<head>
  {% block head %}
  <title>Headline Words</title>
  <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
  {% endblock %}
</head>
<body>
  <nav>
    {{ nav_link("home", "Home") }}
    {{ nav_link("bbc_today", "BBC") }} 
    {{ nav_link("nyt_today", "NYT") }} 
    <a id="scroll-button" class="navlink rounded_card" href="#graph-target">Charts</a>
  </nav>
  <h1 class="subtitle">Headline Words</h1>
  <h4 class="tag-line">A flavour of what's getting emphasised</h4>
  <div class="flex-container">
    {% include "data2.html" %}
  </div>
  {% include "new_graph.html" %}
  <script src={{ url_for('static', filename='scripts/pageScroll.js') }}></script>
</body>
