{% from "macros.html" import nav_link with context %}
{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <nav>
    {{ nav_link("home", "Home") }} 
    {{ nav_link("bbc_today", "BBC") }} 
    <a id="scroll-button" class="navlink rounded_card" href="#graph-target">Charts</a>
  </nav>
  <div class="flex-container">
    <div class="flex-half-unit">
      <h4 class="title rounded_card">{{source["title"]}}</h4>
      <nav>
        {{ nav_link("nyt_today", "Today") }}
        {{ nav_link("nyt_week", "Week") }}
        {{ nav_link("nyt_month", "Month") }}
        {{ nav_link("nyt_ever", "Ever") }}
      </nav>
      {% include "table.html" %}
    </div>
   <div class="flex-half-unit">
     {% for extra in extras %}
     <h4 class="title rounded_card">{{extra["title"]}}</h4>
       {% if extra["title"] == "Rising" %}
         {% include "trend_up.html" %}
       {% else %}
         {% include "extra.html" %}
       {% endif %}
     {% endfor %}
   </div>
  </div>
  {% include "new_graph.html" %}
{% endblock %}
