{% from "macros.html" import nav_link with context %}
{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <nav>
    {{ nav_link("home", "Home") }} 
    <a id="scroll-button" class="navlink rounded_card" href="#graph-target">Charts</a>
  </nav>
  <div class="flex-container">
    <div class="flex-half-unit">
      <h4 class="title rounded_card">{{source["title"]}}</h4>
      <nav>
        {% set today = [source["source"], "_today"]|join %}
        {{ nav_link(today, "Today") }}
        {% set week = [source["source"], "_week"]|join %}
        {{ nav_link(week, "Week") }}
        {% set month = [source["source"], "_month"]|join %}
        {{ nav_link(month, "Month") }}
        {% set ever = [source["source"], "_ever"]|join %}
        {{ nav_link(ever, "Ever") }}
      </nav>
      {% include "table.html" %}
    </div>
    <div class="flex-half-unit">
    {% for extra in extras %}
      <h4 class="title rounded_card">{{extra["title"]}}</h4>
      {% if extra["title"] == "Rising" %}
        {% include "trend_up.html" %}
      {% else %}
        {% include "extra.html" %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
  {% include "new_graph.html" %}
{% endblock %}
