input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    border: 5px #fff;
    font-size: 7vw;
    background: #D2D5D6;
    color: white;
}

input[type=text]:focus {
    outline: none;
    background: white;
    color: #777D80;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #fff;
    border: none;
    padding: 5% 7%;
    width: 100%;
    text-decoration: none;
    font-size: 4vw;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 8px;
}

select {
    outline: none;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #f1f1f1;
    background: #D2D5D6;
    color: #777D80;
    font-size: 7vw;
    border-radius: 8px;
}


.form-block {
        margin-top: 4em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
}

.checkbox {
        display: inline;
        margin-left: auto;
        margin-right: auto;
        font-size: 3vw;
}

label.checkbox {
        padding: 0.5em;
        background-color: white;
        border-radius: 8px;
}

.radio-block {
        margin-bottom: 2em;
}



@media only screen and (min-device-width: 961px) {
        input[type=text] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
                border-radius: 8px;
                border: 5px #fff;
                font-size: 1.5em;
                background: #D2D5D6;
                color: white;
        }

        input[type=text]:focus {
                outline: none;
                background: white;
                color: #777D80;
        }

        input[type=button], input[type=submit], input[type=reset] {
                background-color: #fff;
                border: none;
                padding: 12px 20px;
                text-decoration: none;
                margin: 8px 0;
                cursor: pointer;
                font-size: 1em;
                border-radius: 8px;
        }

        select {
                font-size: 1.5em;
        }

        .form-block {
                max-width: 600px;
        }

        .checkbox {
                font-size: 1em;
        }
}
